.main-container {
    display: inline-block;
    position: relative !important;
    top: 8px;
    outline: 2px black solid;
}
#tool-container {
    overflow-y: auto;
    background-color: #8984f1;
    user-select: none;
    outline: 2px black solid;
}

#editor-container {
    outline: 2px black solid;
    width: 100%;
    height: 100%;
}

div ::-webkit-scrollbar {
    width: 5px;
}

div ::-webkit-scrollbar-track {
    background: #8984f1;
}

div ::-webkit-scrollbar-thumb {
    background: #555;
}

div ::-webkit-scrollbar-thumb:hover {
    background: #444;
}

.tool-img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.tool-img-div {
    display: inline-block;
    padding: 15px;
}

#icon-bar {
    width: 40px;
    background-color: #555;
    position: absolute;
    z-index: 1;
}

#icon-bar a {
    display: block;
    text-align: center;
    padding: 10px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

#icon-bar a:hover {
    background-color: #000;
}

#icon-bar .active {
    background-color: #000;
}

#img-container, #icon-bar {
    display: inline-block;
}

.tool-img {
    -webkit-user-drag: element;
}