.main-container {
    display: inline-block;
}
 #tool-container {
     overflow-y: auto;
 }
div ::-webkit-scrollbar {
    width: 5px;
}

div ::-webkit-scrollbar-track {
    background: #8984f1;
}

div ::-webkit-scrollbar-thumb {
    background: #555;
}

div ::-webkit-scrollbar-thumb:hover {
    background: #444;
}

.tool-img {
    padding: 10px;
}

.tool-img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
